<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcz.api.mapper.ItemMapper" >
  <resultMap id="BaseResultMap" type="com.tcz.api.model.po.Item" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="BIGINT" />
    <result column="category_id" property="categoryId" jdbcType="BIGINT" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="periods" property="periods" jdbcType="INTEGER" />
    <result column="max_periods" property="maxPeriods" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="is_marketable" property="isMarketable" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tcz.api.model.po.Item" extends="BaseResultMap" >
    <result column="introduction" property="introduction" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_id, brand_id, category_id, sn, name, title, image, cost, sales, price, 
    periods, max_periods, status, is_marketable, create_date, modify_date
  </sql>
  <sql id="Blob_Column_List" >
    introduction
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tcz_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tcz_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tcz.api.model.po.Item" >
    insert into tcz_item (id, goods_id, brand_id, 
      category_id, sn, name, 
      title, image, cost, 
      sales, price, periods, 
      max_periods, status, is_marketable, 
      create_date, modify_date, introduction
      )
    values (#{id,jdbcType=BIGINT}, #{goodsId,jdbcType=VARCHAR}, #{brandId,jdbcType=BIGINT}, 
      #{categoryId,jdbcType=BIGINT}, #{sn,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{cost,jdbcType=DECIMAL}, 
      #{sales,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, #{periods,jdbcType=INTEGER}, 
      #{maxPeriods,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{isMarketable,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, #{introduction,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tcz.api.model.po.Item" >
    insert into tcz_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="sales != null" >
        sales,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="periods != null" >
        periods,
      </if>
      <if test="maxPeriods != null" >
        max_periods,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isMarketable != null" >
        is_marketable,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="periods != null" >
        #{periods,jdbcType=INTEGER},
      </if>
      <if test="maxPeriods != null" >
        #{maxPeriods,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isMarketable != null" >
        #{isMarketable,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tcz.api.model.po.Item" >
    update tcz_item
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="periods != null" >
        periods = #{periods,jdbcType=INTEGER},
      </if>
      <if test="maxPeriods != null" >
        max_periods = #{maxPeriods,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="isMarketable != null" >
        is_marketable = #{isMarketable,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tcz.api.model.po.Item" >
    update tcz_item
    set goods_id = #{goodsId,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=BIGINT},
      category_id = #{categoryId,jdbcType=BIGINT},
      sn = #{sn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      cost = #{cost,jdbcType=DECIMAL},
      sales = #{sales,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      periods = #{periods,jdbcType=INTEGER},
      max_periods = #{maxPeriods,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      is_marketable = #{isMarketable,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tcz.api.model.po.Item" >
    update tcz_item
    set goods_id = #{goodsId,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=BIGINT},
      category_id = #{categoryId,jdbcType=BIGINT},
      sn = #{sn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      cost = #{cost,jdbcType=DECIMAL},
      sales = #{sales,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      periods = #{periods,jdbcType=INTEGER},
      max_periods = #{maxPeriods,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      is_marketable = #{isMarketable,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="hotItems" resultMap="BaseResultMap">
  	SELECT
	  distinct ti.id,ti.title,ti.image,ti.sales,ti.price,ti.periods
	FROM tcz.tcz_item ti,
	     tcz.tcz_item_tag tit
	WHERE ti.id = tit.item_id
	AND tit.tag_id = '4' AND ti.is_marketable = '1'
  </select>
  
  <select id="soonItems" resultMap="BaseResultMap">
  	SELECT
	  distinct ti.id,ti.title,ti.image,ti.sales,ti.price,ti.periods
	FROM tcz.tcz_item ti,
	     tcz.tcz_item_tag tit
	WHERE ti.id = tit.item_id
	AND tit.tag_id = '1' AND ti.is_marketable = '1'
  </select>
  
  <select id="newItems" resultMap="BaseResultMap">
  	SELECT
	  distinct ti.id,ti.title,ti.image,ti.sales,ti.price,ti.periods
	FROM tcz.tcz_item ti,
	     tcz.tcz_item_tag tit
	WHERE ti.id = tit.item_id
	AND tit.tag_id = '2' AND ti.is_marketable = '1'
  </select>
  
  <select id="findByIds" resultMap="BaseResultMap" parameterType="java.util.List">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tcz_item
    	where id in 
	  	<foreach item="id" index="index" collection="ids" open="(" separator="," close=")">  
		 #{id}  
		</foreach> 
  </select>
  
  <select id="findByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tcz_item
    	where goods_id = #{goodsId}
  </select>
</mapper>