<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcz.api.mapper.LotteryMapper" >
  <resultMap id="BaseResultMap" type="com.tcz.api.model.po.Lottery" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="item_id" property="itemId" jdbcType="BIGINT" />
    <result column="periods" property="periods" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="member_user_name" property="memberUserName" jdbcType="VARCHAR" />
    <result column="member_name" property="memberName" jdbcType="VARCHAR" />
    <result column="ip_addr" property="ipAddr" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="raffle_date" property="raffleDate" jdbcType="TIMESTAMP" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, item_id, periods, member_id, member_user_name, member_name, ip_addr, item_name, 
    ip, raffle_date, quantity, create_date, modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tcz_lottery
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tcz_lottery
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tcz.api.model.po.Lottery" >
    insert into tcz_lottery (id, item_id, periods, 
      member_id, member_user_name, member_name, 
      ip_addr, item_name, ip, 
      raffle_date, quantity, create_date, 
      modify_date)
    values (#{id,jdbcType=BIGINT}, #{itemId,jdbcType=BIGINT}, #{periods,jdbcType=INTEGER}, 
      #{memberId,jdbcType=BIGINT}, #{memberUserName,jdbcType=VARCHAR}, #{memberName,jdbcType=VARCHAR}, 
      #{ipAddr,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{raffleDate,jdbcType=TIMESTAMP}, #{quantity,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tcz.api.model.po.Lottery" >
    insert into tcz_lottery
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="periods != null" >
        periods,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="memberUserName != null" >
        member_user_name,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="ipAddr != null" >
        ip_addr,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="raffleDate != null" >
        raffle_date,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="periods != null" >
        #{periods,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="memberUserName != null" >
        #{memberUserName,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="ipAddr != null" >
        #{ipAddr,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="raffleDate != null" >
        #{raffleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tcz.api.model.po.Lottery" >
    update tcz_lottery
    <set >
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="periods != null" >
        periods = #{periods,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="memberUserName != null" >
        member_user_name = #{memberUserName,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="ipAddr != null" >
        ip_addr = #{ipAddr,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="raffleDate != null" >
        raffle_date = #{raffleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tcz.api.model.po.Lottery" >
    update tcz_lottery
    set item_id = #{itemId,jdbcType=BIGINT},
      periods = #{periods,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=BIGINT},
      member_user_name = #{memberUserName,jdbcType=VARCHAR},
      member_name = #{memberName,jdbcType=VARCHAR},
      ip_addr = #{ipAddr,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      raffle_date = #{raffleDate,jdbcType=TIMESTAMP},
      quantity = #{quantity,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>