<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcz.api.mapper.LotteryMapper" >
  <resultMap id="BaseResultMap" type="com.tcz.api.model.po.Lottery" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="lottery_number" property="lotteryNumber" jdbcType="VARCHAR" />
    <result column="periods" property="periods" jdbcType="INTEGER" />
    <result column="raffle_date" property="raffleDate" jdbcType="TIMESTAMP" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="LotteryVo" type="com.tcz.api.model.vo.item.LotteryVo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="itemName" jdbcType="VARCHAR" />
    <result column="image" property="itemImage" jdbcType="VARCHAR" />
    <result column="mem_name" property="memName" jdbcType="VARCHAR" />
    <result column="mem_user_name" property="memUserName" jdbcType="VARCHAR" />
    <result column="mem_web" property="memWeb" jdbcType="VARCHAR"/>
    <result column="ip_addr" property="ipAddr" jdbcType="VARCHAR" />
    <result column="periods" property="periods" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_id, order_id, member_id, lottery_number, periods, raffle_date, quantity, 
    create_date, modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tcz_lottery
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tcz_lottery
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tcz.api.model.po.Lottery" >
    insert into tcz_lottery (id, goods_id, order_id, 
      member_id, lottery_number, periods, 
      raffle_date, quantity, create_date, 
      modify_date)
    values (#{id,jdbcType=BIGINT}, #{goodsId,jdbcType=VARCHAR}, #{orderId,jdbcType=BIGINT}, 
      #{memberId,jdbcType=BIGINT}, #{lotteryNumber,jdbcType=VARCHAR}, #{periods,jdbcType=INTEGER}, 
      #{raffleDate,jdbcType=TIMESTAMP}, #{quantity,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tcz.api.model.po.Lottery" >
    insert into tcz_lottery
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="lotteryNumber != null" >
        lottery_number,
      </if>
      <if test="periods != null" >
        periods,
      </if>
      <if test="raffleDate != null" >
        raffle_date,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="lotteryNumber != null" >
        #{lotteryNumber,jdbcType=VARCHAR},
      </if>
      <if test="periods != null" >
        #{periods,jdbcType=INTEGER},
      </if>
      <if test="raffleDate != null" >
        #{raffleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tcz.api.model.po.Lottery" >
    update tcz_lottery
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="lotteryNumber != null" >
        lottery_number = #{lotteryNumber,jdbcType=VARCHAR},
      </if>
      <if test="periods != null" >
        periods = #{periods,jdbcType=INTEGER},
      </if>
      <if test="raffleDate != null" >
        raffle_date = #{raffleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tcz.api.model.po.Lottery" >
    update tcz_lottery
    set goods_id = #{goodsId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=BIGINT},
      member_id = #{memberId,jdbcType=BIGINT},
      lottery_number = #{lotteryNumber,jdbcType=VARCHAR},
      periods = #{periods,jdbcType=INTEGER},
      raffle_date = #{raffleDate,jdbcType=TIMESTAMP},
      quantity = #{quantity,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="findByGoodsId" parameterType="java.lang.String" resultMap="LotteryVo">
    SELECT
		l.id,i.`name` , i.image , m.name as mem_name, m.name as mem_user_name , m.name as mem_web, l.periods , '上海市' as ip_addr
	FROM
		tcz_lottery l,
		tcz_member m,
		tcz_order o,
		tcz_item i
	where l.member_id = m.id and l.order_id = o.id and l.goods_id = i.goods_id
	and l.goods_id = #{goodsId}
  </select>
</mapper>